---
import Hero from '@/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Dolores from '@/sections/Dolores.astro';
import EsHora from '@/sections/EsHora.astro';
import Modulos from '@/sections/Modulos.astro';
import EsHora2 from '@/sections/EsHora2.astro';
import QueObtendra from '@/sections/QueObtendra.astro';
import Lideres from '@/sections/Lideres.astro';
import ParaQuien from '@/sections/ParaQuien.astro';
import Oferta from '@/sections/Oferta.astro';
import Paquetes from '@/sections/Paquetes.astro';
import Ayuda from '@/sections/Ayuda.astro';
import Footer from '@/sections/Footer.astro';
---

<Layout title='Incubadora de líderes'>
	<main>
		<Hero />
		<Dolores />
		<EsHora />
		<Modulos />
		<EsHora2 />
		<QueObtendra />
		<Lideres />
		<ParaQuien />
		<Oferta />
		<Paquetes />
		<Ayuda />
		<Footer />
	</main>
</Layout>
