---
import Hero from '@/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Dolores from '@/sections/Dolores.astro';
import EsHora from '@/sections/EsHora.astro';
---

<Layout title='Incubadora de líderes'>
	<main>
		<Hero />
		<Dolores />
		<EsHora />
	</main>
</Layout>
