---
interface Props{
  cta?: string
  size?: string
  reverse?: boolean
}

let {cta, size, reverse = false} = Astro.props;
size = size || 'text-2xl md:text-4xl';
cta = cta || 'QUIERO PATROCINAR</br>UN PAQUETE DE LÍDERES';
reverse = reverse || false;
---

<a id="cta" class={`${reverse ? 'bg-primary text-accent':'bg-accent text-primary'} font-bold inline-block shadow-accent px-6 py-2 rounded-3xl text-center ${size}`} href="#" set:html={cta}>
</a>

<style>
  #cta{
    box-shadow:  0px 0px 15px 5px rgba(0, 255, 201, 0.3);
  }
</style>