---
interface Props{
  text: string;
  color?: string;
}

let { text, color } = Astro.props;
color = color || 'text-accent';
---

<h3 class={`${color} font-bold text-3xl md:text-5xl text-pretty`} set:html={text}></h3>