---
import CallTOAction from "@/components/CallTOAction.astro";
import TextM from "@/components/TextM.astro";
import TitleH2 from "@/components/TitleH2.astro";
---

<section class="section-spacing-da pt-0 md:pt-16">
  <div class="max-w-4xl mx-auto text-center px-2">
    <TitleH2 
      text="ES HORA DE CONSTRUIR LÍDERES DE OPINIÓN QUE LUEGO APOYEN Y SEAN EMBAJADORES DE TU MARCA" 
    />
    <div class="mt-10">
      <TextM 
        text="LA CONTRUCCIÓN DE TUS LÍDERES DE OPINIÓN COMIENZA AQUÍ"
      />
    </div>
    <div class="max-w-[500px] mx-auto mt-16">
      <CallTOAction />
    </div>
    <div class="mt-20 h-1 bg-gradient-to-r from-transparent via-accent to-transparent"></div>
  </div>
</section>