---
import CallTOAction from "@/components/CallTOAction.astro";
import LineaGradient from "@/components/LineaGradient.astro";
import TextM from "@/components/TextM.astro";
import TitleH3 from "@/components/TitleH3.astro";
---

<section class="section-spacing-da pt-0 md:pt-16">
  <div class="max-w-4xl mx-auto text-center px-2">
    <TitleH3 
      text="ES HORA DE CONSTRUIR LÍDERES DE OPINIÓN QUE LUEGO APOYEN Y SEAN EMBAJADORES DE TU MARCA" 
    />
    <div class="mt-10">
      <TextM 
        text="LA CONTRUCCIÓN DE TUS LÍDERES DE OPINIÓN COMIENZA AQUÍ"
      />
    </div>
    <div class="max-w-[500px] mx-auto mt-16">
      <CallTOAction />
    </div>
    <LineaGradient />
  </div>
</section>