---
import Logos from "@/components/Logos.astro";
---

<section class="section-spacing-da overflow-clip">
  <div class="max-w-4xl mx-auto px-2 space-y-8 lg:space-y-14">
      <p class="text-pretty text-gray-400 text-center">Todo el contenido de este documento (texto, figuras, listas, información financiera, gráficos, diseño, conceptos, racionales, ideas derivadas, diagramas, así como otros elementos gráficos y/o audio y videos), cualquiera que sea el formato utilizado (papel o electrónico), es confidencial y propiedad moral e intelectual de Market Support Miami LLC© o Market Support SAS©, según corresponda. Este documento incluye ideas e información basados en la experiencia, know-how y trabajo intelectual / esfuerzo creativo de Market Support Miami LLC© o Market Support SAS©, según corresponda. Por estas razones, este material no debe ser utilizado, reproducido, copiado, divulgado, transmitido, transformado, comercializado o comunicado, en su totalidad o en parte, ni a terceros ni al público, sin la autorización expresa y por escrito de Market Support Miami LLC© o Market Support SAS©, según corresponda.</p>
      <div class="flex justify-center">
        <Logos />
      </div>
  </div>
</section>
