---
import TextXS from "@/components/TextXS.astro";
import TitleH2 from "@/components/TitleH2.astro";
import TitleH4 from "@/components/TitleH4.astro";
import { URL_BASE } from "@/config";

const PAQUETES = [
  {
    text: "PAQUETES DE 50",
    price: "$ 25.850",
  },
  {
    text: "PAQUETES DE 100",
    price: "$ 49.700 – 8% DESCUENTO EXTRA",
  },
  {
    text: "PAQUETES DE 500",
    price: "$ 248.500 – 10% DESCUENTO EXTRA",
  },
  {
    text: "PAQUETES DE 1000",
    price: "$ 497.000 – 12% DESCUENTO EXTRA",
  }
];
---

<section class="section-spacing-da">
  <div class="max-w-5xl mx-auto px-2">
    <div class="degradado-con-degradado space-y-16 py-20">
      <div class="text-center">
        <TitleH2 text="PAQUETES DE LÍDERES EXCLUSIVOS DE LA INDUSTRIA FARMACÉUTICA(*)" color="text-primary" />
      </div>
      <ul>
        {
          PAQUETES.map((item) => (
            <li class="flex flex-col md:flex-row justify-between py-4 px-2 border-b border-dotted border-primary gap-4">
              <div class="flex-1 flex gap-4">
                <div class="flex-shrink-0 w-8">
                  <img
                    src={`${URL_BASE}/images/check-blue.webp`}
                    alt="Icono blue"
                  />
                </div>
                <div class="flex-1">
                  <TextXS
                    text={item.text}
                    weight="font-bold"
                    color="text-primary"
                    isBalanced={false}
                  />
                </div>
              </div>
              <div class="flex">
                <div class="bg-primary p-2 min-w-20 text-center rounded-full mt-auto ml-auto">
                  <TextXS text={item.price} color="text-white" />
                </div>
              </div>
            </li>
          ))
        }
      </ul>
      <div class="text-center">
        <TitleH4
          text="(*) Para compras superiores a 500 tickets se dará exclusividad de producto por laboratorio farmacéutico."
          color="text-primary"
        />
      </div>
    </div>
  </div>
</section>